/******FONTS SAMPLES********/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/******SASS TEMPLATE********/
@import'./include/variables.scss';
@import'./include/global.scss';
@import'./include/typography.scss';
@import'./include/color.scss';

/***********HEADER *****************/

#header{       
    background-image: url(/assets/profilebg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;   
    
    #content{
        max-width: 1530px;
        margin: 0 auto;
        border: 5px red solid !important;

        .navbar {
            background: transparent !important;
            z-index: 1;
            .navbar-brand{
                font-weight: bold;
                color: $color-secondary;
                span{
                    background-color: $color-primary;
                    color: $color-whity;
                    border-radius: 10px;
                    padding:0px 5px 0px 10px !important;
                    margin-left: 7px;
                }

            }
            .active {
                border-bottom: 3px solid $color-primary !important;
            }
            .collapse{
                .nav-link{
                    font-size:18px;
                    font-family:$font-montserrat;
                    color: $color-secondary ;
                    transition: 1s;
                }
                .nav-link:hover{
                    color: $color-primary ;
                }
            }
        }
    }
}


/***********LANDING PAGE*****************/
.landing-page{

    top: -100px;    
    position: relative;
    margin-top: 5rem;
    .lefty{
        margin: 100px 0;
        .greeting{
            background-color: rgba($color: #0fbf61, $alpha: 0.2);
            color: $color-primary !important;
            padding: 20px 27px;
            border-radius: 5px;
        }
        .btn-top{
            margin: 50px 0;            
            a{
                padding: 30px 40px;
                border-radius: 10px;
                margin-right: 10px;
            }
            .explore{
                border: 3px solid $color-secondary;
                padding: 27px 40px;
            }

        }
    }
    .righty .profile{         
        padding: 120px;
    }

}
/*******ABOUT ME*******************/
.about-me{
    .righty{
        p{
            line-height: 2rem;
        }
        .about-head{
            background-color: rgba($color: #0fbf61, $alpha: 0.2);
            color: $color-primary !important;
            padding: 20px 27px;
            border-radius: 5px;
        }
        .download{
            padding: 30px 60px;
            border-radius: 10px;
        }
    }

}