/******FONTS SAMPLES********/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/******SASS TEMPLATE********/
@import'./include/variables.scss';
@import'./include/global.scss';
@import'./include/typography.scss';
@import'./include/color.scss';

/***********HEADER *****************/
#header{
    #header-content{

        max-width: 1530px;
        margin: 0 auto;
        border: 5px red solid !important;

        .navbar {
            .navbar-brand{
                font-weight: bold;
                color: $color-secondary;
                span{
                    background-color: $color-primary;
                    color: $color-whity;
                    border-radius: 10px;
                    padding:0px 5px 0px 10px !important;
                    margin-left: 7px;
                }
            }
            .collapse{
                .nav-link{
                    font-size:18px;
                    font-family:$font-montserrat;
                    color: $color-secondary ;
                }
            }
        }
    }
}
