/******FONTS SAMPLES********/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/******SASS TEMPLATE********/
/*  global */
button, button:focus {
  outline: none !important;
  box-shadow: none !important;
}

/***Typography Classess****/
.font-poppins {
  font-family: "Poppins", arial;
}

.font-playfair {
  font-family: "Playfair Display", arial;
}

.font-montserrat {
  font-family: "Montserrat", arial;
}

/*******Font-Color****/
.color-primary {
  color: #0FBF61;
}

.color-secondary {
  color: #151D41;
}

.color-whity {
  color: #ffffff;
}

/******Font Size *******/
.font-size-69 {
  font-size: 69px;
}

.font-size-60 {
  font-size: 60px;
}

.font-size-49 {
  font-size: 49px;
}

.font-size-40 {
  font-size: 40px;
}

.font-size-32 {
  font-size: 32px;
}

.font-size-30 {
  font-size: 30px;
}

.font-size-25 {
  font-size: 25px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-19 {
  font-size: 19px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-16 {
  font-size: 16px;
}

/*****Color****/
.color-primary {
  color: #0FBF61;
}

.color-secondary {
  color: #151D41;
}

.color-whity {
  color: #ffffff;
}

.color-primary-bg {
  background: #0FBF61;
}

.color-primary-bg-2 {
  background-color: rgba(15, 191, 97, 0.2);
}

/***********HEADER *****************/
#header {
  background-image: url(/assets/profilebg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
#header #content {
  max-width: 1530px;
  margin: 0 auto;
  border: 5px red solid !important;
}
#header #content .navbar {
  background: transparent !important;
  z-index: 1;
}
#header #content .navbar .navbar-brand {
  font-weight: bold;
  color: #151D41;
}
#header #content .navbar .navbar-brand span {
  background-color: #0FBF61;
  color: #ffffff;
  border-radius: 10px;
  padding: 0px 5px 0px 10px !important;
  margin-left: 7px;
}
#header #content .navbar .active {
  border-bottom: 3px solid #0FBF61 !important;
}
#header #content .navbar .collapse .nav-link {
  font-size: 18px;
  font-family: "Montserrat", arial;
  color: #151D41;
  transition: 1s;
}
#header #content .navbar .collapse .nav-link:hover {
  color: #0FBF61;
}

/***********LANDING PAGE*****************/
.landing-page {
  top: -100px;
  position: relative;
  margin-top: 5rem;
}
.landing-page .lefty {
  margin: 100px 0;
}
.landing-page .lefty .greeting {
  background-color: rgba(15, 191, 97, 0.2);
  color: #0FBF61 !important;
  padding: 20px 27px;
  border-radius: 5px;
}
.landing-page .lefty .btn-top {
  margin: 50px 0;
}
.landing-page .lefty .btn-top a {
  padding: 30px 40px;
  border-radius: 10px;
  margin-right: 10px;
}
.landing-page .lefty .btn-top .explore {
  border: 3px solid #151D41;
  padding: 27px 40px;
}
.landing-page .righty .profile {
  padding: 120px;
}

/*******ABOUT ME*******************/
.about-me .righty p {
  line-height: 2rem;
}
.about-me .righty .about-head {
  background-color: rgba(15, 191, 97, 0.2);
  color: #0FBF61 !important;
  padding: 20px 27px;
  border-radius: 5px;
}
.about-me .righty .download {
  padding: 30px 60px;
  border-radius: 10px;
}

/****** MAIN START*********/
.skill-percent .progress {
  width: 150px;
  height: 150px !important;
  float: left;
  line-height: 150px;
  background: none;
  margin: 20px;
  box-shadow: none;
  position: relative;
}
.skill-percent .progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.skill-percent .progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.skill-percent .progress .progress-left {
  left: 0;
}
.skill-percent .progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.skill-percent .progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.skill-percent .progress .progress-right {
  right: 0;
}
.skill-percent .progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}
.skill-percent .progress .progress-value {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: #44484b;
  font-size: 24px;
  color: #fff;
  line-height: 135px;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%;
}
.skill-percent .progress.blue .progress-bar {
  border-color: #049dff !important;
}
.skill-percent .progress.blue .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.8s;
}
.skill-percent .progress-left .progress-bar {
  animation: loading-3 1s linear forwards 1.8s;
}
.skill-percent .progress-left .progress-bar {
  animation: loading-4 0.4s linear forwards 1.8s;
}
.skill-percent .progress-left .progress-bar {
  animation: loading-5 1.2s linear forwards 1.8s;
}
@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@media only screen and (max-width: 990px) {
  .skill-percent .progress {
    margin-bottom: 20px;
  }
}

/*****************MY SERVICES*******************/
.services .main-service {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: 1s;
}
.services .main-service h3 {
  background-image: url(/assets/line-bg.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  padding-bottom: 20px;
}
.services .main-service p {
  line-height: 2rem;
}
.services .main-service a {
  padding: 10px 15px;
  color: #fff;
}
.services .main-service a img {
  padding-left: 10px;
}
.services .main-service:nth-child(1):hover {
  background-color: #0FBF61;
}
.services .main-service:nth-child(1):hover .web-icon {
  content: url(/assets/web-icon-black-white.png);
}
.services .main-service:nth-child(1):hover h3 {
  color: #ffffff;
  background-image: url(/assets/line-bg-w.png);
}
.services .main-service:nth-child(1):hover p {
  color: #ffffff;
}
.services .main-service:nth-child(1):hover a {
  background-color: #fff;
  color: #151D41;
  font-weight: bold;
}
.services .main-service:nth-child(1):hover a img {
  content: url(/assets/arrow_right_blue.png);
}
.services .service2:hover .web-icon {
  content: url(/assets/graphics_icon_white.png) !important;
}
.services .service3:hover .web-icon {
  content: url(/assets/web_dev_white.png) !important;
}

/*# sourceMappingURL=style.css.map */
