/******FONTS SAMPLES********/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/******SASS TEMPLATE********/
/*  global */
button, button:focus {
  outline: none !important;
  box-shadow: none !important;
}

/***Typography Classess****/
.font-poppins {
  font-family: "Poppins", arial;
}

.font-playfair {
  font-family: "Playfair Display", arial;
}

.font-montserrat {
  font-family: "Montserrat", arial;
}

/*******Font-Color****/
.color-primary {
  color: #0FBF61;
}

.color-secondary {
  color: #151D41;
}

.color-whity {
  color: #ffffff;
}

/******Font Size *******/
.font-size-69 {
  font-size: 69px;
}

.font-size-60 {
  font-size: 60px;
}

.font-size-49 {
  font-size: 49px;
}

.font-size-40 {
  font-size: 40px;
}

.font-size-32 {
  font-size: 32px;
}

.font-size-30 {
  font-size: 30px;
}

.font-size-25 {
  font-size: 25px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-19 {
  font-size: 19px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-16 {
  font-size: 16px;
}

/*****Color****/
.color-primary {
  color: #0FBF61;
}

.color-secondary {
  color: #151D41;
}

.color-whity {
  color: #ffffff;
}

.color-primary-bg {
  background: #0FBF61;
}

.color-primary-bg-2 {
  background-color: rgba(15, 191, 97, 0.2);
}

/***********HEADER *****************/
#header {
  background-image: url(/assets/profilebg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
#header #content {
  max-width: 1530px;
  margin: 0 auto;
  border: 5px red solid !important;
}
#header #content .navbar {
  background: transparent !important;
  z-index: 1;
}
#header #content .navbar .navbar-brand {
  font-weight: bold;
  color: #151D41;
}
#header #content .navbar .navbar-brand span {
  background-color: #0FBF61;
  color: #ffffff;
  border-radius: 10px;
  padding: 0px 5px 0px 10px !important;
  margin-left: 7px;
}
#header #content .navbar .active {
  border-bottom: 3px solid #0FBF61 !important;
}
#header #content .navbar .collapse .nav-link {
  font-size: 18px;
  font-family: "Montserrat", arial;
  color: #151D41;
  transition: 1s;
}
#header #content .navbar .collapse .nav-link:hover {
  color: #0FBF61;
}

/***********LANDING PAGE*****************/
.landing-page {
  top: -100px;
  position: relative;
  margin-top: 5rem;
}
.landing-page .lefty {
  margin: 100px 0;
}
.landing-page .lefty .greeting {
  background-color: rgba(15, 191, 97, 0.2);
  color: #0FBF61 !important;
  padding: 20px 27px;
  border-radius: 5px;
}
.landing-page .lefty .btn-top {
  margin: 50px 0;
}
.landing-page .lefty .btn-top a {
  padding: 30px 40px;
  border-radius: 10px;
  margin-right: 10px;
}
.landing-page .lefty .btn-top .explore {
  border: 3px solid #151D41;
  padding: 27px 40px;
}
.landing-page .righty .profile {
  padding: 120px;
}

/*******ABOUT ME*******************/
.about-me .righty p {
  line-height: 2rem;
}
.about-me .righty .about-head {
  background-color: rgba(15, 191, 97, 0.2);
  color: #0FBF61 !important;
  padding: 20px 27px;
  border-radius: 5px;
}
.about-me .righty .download {
  padding: 30px 60px;
  border-radius: 10px;
}
.about-me .skill-percent .progress {
  width: 150px;
  height: 150px !important;
  float: left;
  line-height: 150px;
  background: none;
  margin: 20px;
  box-shadow: none;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
