/*****Color****/
.color-primary{
    color: $color-primary;
}
.color-secondary{
    color: $color-secondary;
}
.color-whity{
    color: $color-whity;
}
.color-primary-bg{
    background: $color-primary;
}
.color-primary-bg-2{
    background-color: rgba($color: #0fbf61, $alpha: 0.2);
}