/***Typography Classess****/
.font-poppins{
    font-family: $font-poppin;
}
.font-playfair{
    font-family: $font-playfair;
}
.font-montserrat{
    font-family: $font-montserrat;
}

/*******Font-Color****/
.color-primary{
    color: $color-primary;
}
.color-secondary{
    color: $color-secondary;
}

.color-whity{
    color: $color-whity;
}

/******Font Size *******/
.font-size-69{
    font-size: 69px;
}
.font-size-60{
    font-size: 60px;
}
.font-size-49{
    font-size: 49px;
}
.font-size-40{
    font-size: 40px;
}
.font-size-32{
    font-size: 32px;
}
.font-size-30{
    font-size: 30px;
}
.font-size-25{
    font-size: 25px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-19{
    font-size: 19px;
}
.font-size-18{
    font-size: 18px;
}
.font-size-16{
    font-size: 16px;
}